<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Lista de Clientes</h3>
		</div>
		<div class="panel-body">
			<table class="table table-hover table-striped table-condensed" style="overflow-y: auto; height: 500px; display: block;" role="table">
				<div class="col-md-3">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
						<input type="text" class="form-control" ng-model="view.filtro" ng-model-options="{updateOn:'default blur', debounce:{'default':1000, 'blur':0}}"
						placeholder="Busca" />
					</div>
				</div>
				<div class="col-md-6">					
					<div class="alert alert-info">						
						<strong>Atenção!</strong> {{model.aviso}}
					</div>
				</div>
				<thead>
					<tr>
						<th class="col-md-1">Menu</th>
						<th class="col-md-2"><a href="" ng-click="view.ordena('nomeCrianca')">Criança</a></th>
						<th class="col-md-2"><a href="" ng-click="view.ordena('dataNascimento')">Nascimento</a></th>
						<th class="col-md-2"><a href="" ng-click="view.ordena('nomeResponsavel')">Responsável</a></th>
						<th class="col-md-1"><a href="" ng-click="view.ordena('telefone')">Telefone</a></th>
						<th class="col-md-1"><a href="" ng-click="view.ordena('operadora')">Operadora</a></th>
						<th class="col-md-2">Observações</th>
						<th class="col-md-1">Excluir</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="cadastro in model.cadastros | filter:view.filtro | orderBy:view.ordem">
						<td>
							<div class="btn-group" role="group">
								<a href="" ng-click="model.adicionaDiversao(cadastro);" ng-hide="cadastro.brincando == true || view.checked == $index"><i class="fa fa-meh-o fa-2x" aria-hidden="true"></i></a>
								<a href="" ng-show="cadastro.brincando == true"><i class="fa fa-smile-o fa-2x" aria-hidden="true"></i></a>
								<a href="" ng-click="view.change($index);" ng-hide="view.checked == $index"><i class="fa fa-refresh fa-2x" aria-hidden="true"></i></a>
								<a href="" ng-click="model.atualizaCadastro(cadastro); view.change($index);" ng-show="view.checked == $index"><i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i></a>
							</div>
						</td>

						<td>
							<div ng-bind="cadastro.nomeCrianca" ng-hide="view.checked == $index"></div>
							<input type="text" ng-model="cadastro.nomeCrianca" ng-show="view.checked == $index">
						</td>
						<td>
							<div ng-hide="view.checked == $index">{{cadastro.dataNascimento | date:'dd/MM/yyyy'}}</div>
							<div class="btn-group" ng-show="view.checked == $index" role="group">
								<input type="text" ng-model="cadastro.dataNascimento" ui-mask="99/99/9999" ng-show="view.checked == $index">
							</div>
						</td>
						<td>
							<div ng-bind="cadastro.nomeResponsavel" ng-hide="view.checked == $index"></div>
							<input type="text" ng-model="cadastro.nomeResponsavel" ng-show="view.checked == $index">
						</td>
						<td>
							<div ng-bind="cadastro.telefone" ng-hide="view.checked == $index"></div>
							<input type="text" ng-model="cadastro.telefone" ui-mask="(99)9999-9999" ng-show="view.checked == $index">
						</td>
						<td>
							<div ng-bind="cadastro.operadora" ng-hide="view.checked == $index"></div>
							<select class="btn btn-primary dropdown-toggle" ng-model="cadastro.operadora" ng-options="operadora for operadora in view.operadoras"
							ng-required="true" ng-show="view.checked == $index">
								<option value="" disabled selected>{{cadastro.operadora}}</option>
							</select>
						</td>
						<td>
							<div ng-bind="cadastro.observacoes" ng-hide="view.checked == $index"></div>
							<textarea cols="30" rows="3" ng-model="cadastro.observacoes" ng-show="view.checked == $index"></textarea>
						</td>
						<td>
							<a href="" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-caret-square-o-down fa-2x" aria-hidden="true"></i></a>
							<div uib-collapse="isCollapsed">
								<div class="well well-lg">
									<div class="btn-group" role="group">
										<a href="" ng-click="model.removeCadastro(cadastro);" ng-hide="view.checked == $index"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a>
									</div>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
		<div class="panel-footer">
			<p>&copy; Diversão MaisKidMais 2016</p>
		</div>
	</div>
</div>