<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Lista de Clientes</h3>
		</div>
		<div class="panel-body">
			<div class="alert alert-info">
				<strong>Atenção!</strong> {{alerta}}
			</div>
			<table class="table table-hover table-striped table-condensed" style="overflow-y: auto; height: 500px; display: block;" role="table">
				<div class="col-md-3">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
						<input type="text" class="form-control" ng-model="view.filtro" ng-model-options="{updateOn:'default blur', debounce:{'default':1000, 'blur':0}}"
						placeholder="Busca" />
					</div>
				</div>
				<thead>
					<tr>
						<th class="col-md-1">Edit/Save</th>
						<th class="col-md-1">Play</th>
						<th class="col-md-2"><a href="" ng-click="view.ordena('nomeCrianca')">Criança <i class="fa fa-sort" aria-hidden="true"></i></a></th>
						<th class="col-md-2"><a href="" ng-click="view.ordena('dataNascimento')">Nascimento <i class="fa fa-sort" aria-hidden="true"></i></a></th>
						<th class="col-md-2"><a href="" ng-click="view.ordena('nomeResponsavel')">Responsável <i class="fa fa-sort" aria-hidden="true"></i></a></th>
						<th class="col-md-2"><a href="" ng-click="view.ordena('telefone')">Telefone <i class="fa fa-sort" aria-hidden="true"></i></a></th>
						<th class="col-md-1"><a href="" ng-click="view.ordena('operadora')">Oper. <i class="fa fa-sort" aria-hidden="true"></i></a></th>
						<th class="col-md-1">Delete</th>
						<!--<th class="col-md-2">Observações</th>-->
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="cadastro in cadastros | filter:view.filtro | orderBy:view.ordem">
						<td>
							<a class="btn btn-primary" href="" data-toggle="tooltip" title="Editar" ng-click="view.change($index);" ng-hide="view.checked == $index" ng-disabled="cadastro.brincando"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a>
							<a class="btn btn-success" href="" data-toggle="tooltip" title="Salvar" ng-click="atualizaCadastro(cadastro); view.change($index);"
							ng-show="view.checked == $index"><i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i></a>

						</td>
						<td>
							<a class="btn btn-info" href="" data-toggle="tooltip" title="Brincar!" ng-click="adicionaDiversao(cadastro);" ng-hide="cadastro.brincando == true || view.checked == $index"><i class="fa fa-meh-o fa-2x" aria-hidden="true"></i></a>
							<a class="btn btn-warning" href="" data-toggle="tooltip" title="Brincando!" ng-show="cadastro.brincando == true && !(view.checked == $index)"><i class="fa fa-smile-o fa-2x" aria-hidden="true"></i></a>
							<a href="" data-toggle="tooltip" title="Editando..." ng-show="view.checked == $index"><i class="fa fa-cog fa-spin fa-2x fa-fw"></i></a>
						</td>
						<td>
							<div ng-bind="cadastro.nomeCrianca" ng-hide="view.checked == $index"></div>
							<input type="text" ng-model="cadastro.nomeCrianca" ng-show="view.checked == $index">
						</td>
						<td>
							<div ng-hide="view.checked == $index">{{cadastro.dataNascimento | date:'dd/MM/yyyy'}}</div>
							<div class="btn-group" ng-show="view.checked == $index" role="group">
								<input type="text" ng-model="cadastro.dataNascimentoStr" ui-mask="99/99/9999" ng-show="view.checked == $index">
							</div>
						</td>
						<td>
							<div ng-bind="cadastro.nomeResponsavel" ng-hide="view.checked == $index"></div>
							<input type="text" ng-model="cadastro.nomeResponsavel" ng-show="view.checked == $index">
						</td>
						<td>
							<div ng-hide="view.checked == $index">{{cadastro.telefone | telefone}}</div>

							<div ng-show="view.checked == $index">
								<div class="radio-inline">
									<label>
										<input type="radio" ng-model="view.telefone" ng-value="view.fixo" ng-checked="true">Fixo</label>
								</div>
								<div class="radio-inline">
									<label>
										<input type="radio" ng-model="view.telefone" ng-value="view.celular">Celular</label>
								</div>
								<input type="text" ng-show="view.telefone.tipo == fixo" ng-model="cadastro.telefone" ui-mask={{view.telefone.filtro}}>
								<input type="text" ng-hide="view.telefone.tipo == fixo" ng-model="cadastro.telefone" ui-mask={{view.telefone.filtro}}>
							</div>
						</td>
						<td>
							<div ng-bind="cadastro.operadora" ng-hide="view.checked == $index"></div>
							<select class="btn btn-primary dropdown-toggle" ng-model="cadastro.operadora" ng-options="operadora for operadora in view.operadoras"
							ng-required="true" ng-show="view.checked == $index">
								<option value="" disabled selected>{{cadastro.operadora}}</option>
							</select>
						</td>
						<td>
							<a class="btn btn-danger" href="" data-toggle="tooltip" title="Remover" ng-click="removeCadastro(cadastro);" ng-disabled="cadastro.brincando" ng-hide="view.checked == $index"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a>
							<a href="" data-toggle="tooltip" title="Editando..." ng-show="view.checked == $index"><i class="fa fa-cog fa-spin fa-2x fa-fw"></i></a>
						</td>
						<!--<td>
							<div ng-bind="cadastro.observacoes" ng-hide="view.checked == $index"></div>
							<textarea cols="30" rows="3" ng-model="cadastro.observacoes" ng-show="view.checked == $index"></textarea>
						</td>-->
						<!--<td>
							<a href="" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-caret-square-o-down fa-2x" aria-hidden="true"></i></a>
							<div uib-collapse="isCollapsed">
								<div class="well well-lg">
									<div class="alert alert-info">
										<strong>Atenção!</strong> {{model.alerta}}
									</div>
								</div>
							</div>
						</td>-->
					</tr>
				</tbody>
			</table>

		</div>
		<div class="panel-footer">
			<p>&copy; {{view.app_name}}, {{view.data}}</p>
		</div>
	</div>
</div>