<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title" ng-bind="model.titulo"></h3>
		</div>
		<div class="panel-body">
			<table class="table table-hover table-striped table-condensed">
				<thead>
					<tr>
						<th class="col-md-2">Criança</th>
						<th class="col-md-1">Início</th>
						<th class="col-md-5">Tempo</th>
						<th class="col-md-1">Fim</th>
						<th class="col-md-3">Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="diversao in model.diversoes">
						<td ng-bind="diversao.nomeCrianca"></td>
						<td>
							<div ng-show="diversao.iniciada" ng-bind="diversao.inicio | date:'HH:mm'"></div>
							<div class="btn-group" ng-hide="diversao.iniciada">
								<input type="date" ng-model="diversao.inicio">
							</div>
						</td>
						<td>
							<progress-bar diversao="diversao"></progress-bar>
						</td>
						<td>
							<div ng-show="diversao.iniciada" ng-bind="diversao.fim | date:'HH:mm'"></div>
							<div class="btn-group" ng-hide="diversao.iniciada">
								<input type="date" ng-model="diversao.fim">
							</div>
						</td>
						<td>
							<button class="btn btn-primary" ng-click="iniciaDiversao(diversao);" ng-show="diversao.iniciada == false">
								<i class="fa fa-play"></i>
							</button>

							<button class="btn btn-primary" ng-click="cancelaDiversao(diversao);" ng-show="diversao.paga == false">
								<i class="fa fa-trash-o" aria-hidden="true"></i>								
							</button>

							<button type="button" class="btn btn-primary" ng-click="isCollapsed = !isCollapsed" ng-show="diversao.iniciada == true && diversao.paga == false">
								<i class="fa fa-usd"></i>
							</button>

							<button class="btn btn-success" ng-show="diversao.iniciada == true" ng-click="adicionaTempo(diversao); calculaValor(diversao)">
								<i class="fa fa-hourglass"></i><i class="fa fa-plus"></i>
							</button>

							<button type="button" class="btn btn-primary" ng-click="isCollapsed = !isCollapsed" ng-show="diversao.iniciada == true && diversao.paga == true">
								<i class="fa fa-usd"></i><i class="fa fa-plus"></i>
							</button>

							<button class="btn btn-danger" ng-click="finalizaBrincadeira(diversao)" ng-show="diversao.iniciada == true && diversao.paga == true">
								<i class="fa fa-floppy-o"></i><i class="fa fa-check"></i>
							</button>

							<div uib-collapse="isCollapsed">
								<div class="well well-lg">
									<pagto-directive diversao="diversao"></pagto-directive>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
		<div class="panel-footer">
			<p>&copy; Diversão MaisKidMais 2016</p>
		</div>
	</div>

</div>