<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Playground</h3>
		</div>
		<div class="panel-body">
			<div class="alert alert-info">
				<strong>Atenção!</strong> {{model.alerta}}
			</div>
			<table class="table table-hover table-striped table-condensed">
				<thead>
					<tr>
						<th class="col-md-3">Criança</th>
						<th class="col-md-1">Início</th>
						<th class="col-md-4">Progresso</th>
						<th class="col-md-1">Fim</th>
						<th class="col-md-3">Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="diversao in model.diversoes">
						<td ng-bind="diversao.nomeCrianca"></td>
						<td>
							<div ng-show="diversao.iniciada" ng-bind="diversao.inicio | date:'HH:mm'"></div>
							<div class="input-group" ng-hide="diversao.iniciada">
								<input type="number" min="0" max="23" ng-model="view.tempo.inicio.hora" class="form-control" required="true">								
								<input type="number" min="0" max="59" ng-model="view.tempo.inicio.minuto" class="form-control" required="true">
							</div>
						</td>
						<td>
							<div ng-show="diversao.iniciada">
							<barra-progresso diversao="diversao"></barra-progresso>								
							</div>
							<div ng-hide="diversao.iniciada">
								<i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
							</div>
						</td>
						<td>
							<div ng-show="diversao.iniciada" ng-bind="diversao.fim | date:'HH:mm'"></div>
							<div class="btn-group" ng-hide="diversao.iniciada">
								<input type="number" min="0" max="23" ng-model="view.tempo.fim.hora" class="form-control" required="true">								
								<input type="number" min="0" max="59" ng-model="view.tempo.fim.minuto" class="form-control" required="true">
							</div>
						</td>
						<td>
							<button class="btn btn-primary" ng-click="iniciaDiversao(diversao);" ng-show="diversao.iniciada == false">
								<i class="fa fa-play"></i>
							</button>

							<button class="btn btn-primary" ng-click="model.cancelaDiversao(diversao);" ng-show="diversao.paga == false">
								<i class="fa fa-stop" aria-hidden="true"></i>
							</button>

							<button type="button" class="btn btn-primary" ng-click="isCollapsed = !isCollapsed" ng-show="diversao.iniciada == true && diversao.paga == false">
								<i class="fa fa-usd"></i>
							</button>

							<button class="btn btn-success" ng-show="diversao.iniciada == true" ng-click="model.adicionaTempo(diversao); model.calculaValor(diversao)">
								<i class="fa fa-hourglass"></i><i class="fa fa-plus"></i>
							</button>

							<button type="button" class="btn btn-primary" ng-click="isCollapsed = !isCollapsed" ng-show="diversao.iniciada == true && diversao.paga == true">
								<i class="fa fa-usd"></i><i class="fa fa-plus"></i>
							</button>

							<button class="btn btn-danger" ng-click="model.finalizaBrincadeira(diversao)" ng-show="diversao.iniciada == true && diversao.paga == true">
								<i class="fa fa-floppy-o"></i><i class="fa fa-check"></i>
							</button>

							<div uib-collapse="isCollapsed">
								<div class="well well-lg">
									<pagamento diversao="diversao"></pagamento>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
		<div class="panel-footer">
			<p>&copy; {{view.app_name}}, {{view.data}}</p>
		</div>
	</div>

</div>