<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Playground</h3>
		</div>
		<div class="panel-body">
			<div class="alert alert-info">
				<strong>Atenção!</strong> {{alerta}}
			</div>
			<table class="table table-hover table-striped table-condensed">
				<thead>
					<tr>
						<th class="col-md-2"><i class="fa fa-child fa-2x" aria-hidden="true"></i> Criança</th>
						<th class="col-md-1" colspan="2" style="text-align: center;"><i class="fa fa-hourglass-start" aria-hidden="true"></i> Início</th>
						<th class="col-md-2" style="text-align: center;"><i class="fa fa-spinner" aria-hidden="true"></i> Progresso</th>
						<th class="col-md-1" colspan="2" style="text-align: center;"><i class="fa fa-hourglass-end" aria-hidden="true"></i> Fim</th>
						<th class="col-md-2" style="text-align: center;"><i class="fa fa-tasks" aria-hidden="true"></i> Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="diversao in diversoes">						
						<td ng-bind="diversao.nomeCrianca"></td>
						<td ng-show="diversao.iniciada" colspan="2" style="text-align: center;">
							<div ng-bind="diversao.inicio | date:'HH:mm'"></div>
						</td>
						<td ng-hide="diversao.iniciada" style="text-align: center;">
							<div class="input-group">
								<input type="number" min="0" max="23" ng-model="view.tempo.inicio.hora" class="form-control" required="true">
							</div>
						</td>
						<td ng-hide="diversao.iniciada" style="text-align: center;">
							<div class="input-group">
								<input type="number" min="0" max="59" ng-model="view.tempo.inicio.minuto" class="form-control" required="true">
							</div>
						</td>

						<td style="text-align: center;">
							<div ng-show="diversao.iniciada">
								<barra-progresso diversao="diversao"></barra-progresso>
							</div>
							<div ng-hide="diversao.iniciada">
								<i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
							</div>
						</td>

						<td ng-show="diversao.iniciada" colspan="2" style="text-align: center;">
							<div ng-bind="diversao.fim | date:'HH:mm'"></div>
						</td>

						<td ng-hide="diversao.iniciada">
							<div class="btn-group">
								<input type="number" min="0" max="23" ng-model="view.tempo.fim.hora" class="form-control" required="true">
							</div>
						</td>

						<td ng-hide="diversao.iniciada">
							<div class="btn-group">
								<input type="number" min="0" max="59" ng-model="view.tempo.fim.minuto" class="form-control" required="true">
							</div>
						</td>
						<td style="text-align: center;">
							<button class="btn btn-primary" ng-click="iniciaDiversao(diversao);" ng-show="diversao.iniciada == false">
								<i class="fa fa-play"></i>
							</button>

							<button class="btn btn-danger" ng-click="cancelaDiversao(diversao);" ng-show="diversao.paga == false">
								<i class="fa fa-stop" aria-hidden="true"></i>
							</button>

							<button type="button" class="btn btn-primary" ng-click="isCollapsed = !isCollapsed;" ng-show="diversao.iniciada == true">
								<i class="fa fa-usd"></i>
							</button>

							<button class="btn btn-success" ng-show="diversao.iniciada == true && diversao.paga == false" ng-click="adicionaTempo(diversao)">
								<i class="fa fa-hourglass"></i><i class="fa fa-plus"></i>
							</button>

							<button class="btn btn-danger" ng-show="diversao.iniciada == true && diversao.paga == false" ng-click="diminuiTempo(diversao)">
								<i class="fa fa-hourglass"></i><i class="fa fa-minus"></i>
							</button>

							<button class="btn btn-success" ng-click="finalizaDiversao(diversao)" ng-show="diversao.iniciada == true && diversao.paga == true">
								<i class="fa fa-floppy-o"></i><i class="fa fa-check"></i>
							</button>

							<div uib-collapse="isCollapsed">
								<div class="well well-lg">
									<pagamento diversao="diversao" preco="preco"></pagamento>									
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
		<div class="panel-footer">
			<p>&copy; {{view.app_name}}, {{view.data}}</p>
		</div>
	</div>

</div>