<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Cadastro de Clientes</h3>
		</div>
		<div class="panel-body">
			<form class="form-horizontal" role="form" name="form_cadastro" novalidate>
				<div class="form-group">
					<label class="control-label col-sm-2" for="">Nome</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" ng-model="cadastro.nome_crianca" ng-required="true" placeholder="Nome da criança">
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="">Data de Nascimento</label>
					<div class="col-sm-10">
						<div class="input-group">
							<select class="btn btn-primary dropdown-toggle" ng-model="model.calendario.dia" ng-options="dia for dia in model.dias" ng-required="true">
								<option value="" disabled selected>Dia</option>
							</select>
							<select class="btn btn-primary dropdown-toggle" ng-model="model.calendario.mes" ng-options="mes for mes in model.meses" ng-required="true">
								<option value="" disabled selected>Mês</option>
							</select>
							<select class="btn btn-primary dropdown-toggle" ng-model="model.calendario.ano" ng-options="ano for ano in model.anos" ng-required="true">
								<option value="" disabled selected>Ano</option>
							</select>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="">Responsável</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" ng-model="cadastro.nome_responsavel" ng-required="true" placeholder="Nome do responsável">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="">Email</label>
					<div class="col-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
							<input type="email" class="form-control" ng-model="cadastro.email" placeholder="Email : meuemail@dominio.com[.br]" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="">Telefone</label>
					<div class="col-sm-5">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-phone-alt"></i></span>
							<input type="text" ng-model="cadastro.telefone" ui-mask="(99)9999-9999" class="form-control" ng-required="true">
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="">Operadora</label>
					<div class="col-sm-10">
						<select class="btn btn-primary dropdown-toggle" ng-model="cadastro.tel_operadora" ng-options="operadora for operadora in model.operadoras"
						ng-required="true">
							<option value="" disabled selected>Operadora</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="">Observações</label>
					<div class="col-sm-10">
						<textarea ng-model="cadastro.observacoes" class="form-control" rows="5" placeholder="Observações..."></textarea>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<label>
							<input type="checkbox" ng-model="cadastro.standing_by"> Brincar Agora!</input>
						</label>
					</div>
				</div>

				<div class="form-group">
					<!--ng-disabled="form_principal.$invalid || form_principal.$pristine"-->
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-lg btn-success" ng-click="adicionaCadastro(cadastro)" ng-disabled="form_cadastro.$invalid || form_cadastro.$pristine">Cadastrar Cliente</button>
					</div>
				</div>
			</form>

		</div>
		<div class="panel-footer">
			<p>&copy; Diversão MaisKidMais 2016</p>
		</div>
	</div>
</div>