<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Playground</h3>
		</div>
		<div class="panel-body">
			<div class="col-md-4">
				<div class="alert alert-info">
					<strong>{{model.alert}}</strong>
				</div>				
			</div>

			<table class="table table-hover table-striped table-condensed">
				<thead>
					<tr>
						<th class="col-md-2">Criança</th>
						<th class="col-md-1">Início</th>
						<th class="col-md-5">Tempo</th>
						<th class="col-md-1">Fim</th>
						<th class="col-md-3">Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="player in model.players">
						<td ng-bind="player.nome_crianca"></td>
						<td>
							<div ng-show="player.brincando" ng-bind="player.historico[player.historico.length - 1].inicio | date:'HH:mm'"></div>
							<div class="btn-group" ng-hide="player.brincando">
								<select class="btn btn-primary dropdown-toggle" ng-model="model.inicio.hora" ng-options="hora for hora in model.horas" ng-required="true">
									<!--<option value="" disabled selected>Hora</option>-->
								</select>
								<select class="btn btn-primary dropdown-toggle" ng-model="model.inicio.minuto" ng-options="minuto for minuto in model.minutos"
								ng-required="true">
									<!--<option value="" disabled selected>Minuto</option>-->
								</select>
							</div>
						</td>
						<td>
							<div ng-include="'partials/progress_bar.html'"></div>
						</td>
						<td>
							<div ng-show="player.brincando" ng-bind="player.historico[player.historico.length - 1].fim | date:'HH:mm'"></div>
							<div class="btn-group" ng-hide="player.brincando">
								<select class="btn btn-primary dropdown-toggle" ng-model="model.fim.hora" ng-options="hora for hora in model.horas" ng-required="true">
									<!--<option value="" disabled selected>Hora</option>-->
								</select>
								<select class="btn btn-primary dropdown-toggle" ng-model="model.fim.minuto" ng-options="minuto for minuto in model.minutos"
								ng-required="true">
									<!--<option value="" disabled selected>Minuto</option>-->
								</select>
							</div>
						</td>
						<td>
							<button class="btn btn-primary" ng-click="iniciaBrincadeira(player)" 
							ng-show="player.standing_by == true && player.brincando == false">
								<i class="fa fa-play" ng-mouseover="model.alert = 'Inicia brincadeira!'" 
							ng-mouseleave="model.alert = 'Dicas e alertas aqui!'"></i>
							</button>
							
							<button class="btn btn-primary" ng-click="goHome(player)" 
							ng-show="player.standing_by == true && player.brincando == false">
								<i class="fa fa-sign-out" ng-mouseover="model.alert = 'Finaliza (não haverá combrança)'" 
							ng-mouseleave="model.alert = 'Dicas e alertas aqui!'"></i>
							</button>

							<button type="button" class="btn btn-primary" ng-click="isCollapsed = !isCollapsed" 
							ng-show="player.brincando == true && player.historico[player.historico.length - 1].pago == false">
								<i class="fa fa-usd" ng-mouseover="model.alert = 'Efetua pagamento'" 
							ng-mouseleave="model.alert = 'Dicas e alertas aqui!'"></i>
							</button>

							<button class="btn btn-success" ng-show="player.brincando == true" ng-click="adicionaTempo(player); calculaValor(player)">
								<i class="fa fa-hourglass"></i><i class="fa fa-plus" ng-mouseover="model.alert = 'Adiciona tempo'" 
							ng-mouseleave="model.alert = 'Dicas e alertas aqui!'"></i>
							</button>

							<button type="button" class="btn btn-primary" ng-click="isCollapsed = !isCollapsed" 
							ng-show="player.brincando == true && player.historico[player.historico.length - 1].pago == true">
								<i class="fa fa-usd"></i><i class="fa fa-plus" ng-mouseover="model.alert = 'Adiciona dinheiro'" 
							ng-mouseleave="model.alert = 'Dicas e alertas aqui!'"></i>
							</button>

							<button class="btn btn-danger" ng-click="finalizaBrincadeira(player)" 
							ng-show="player.brincando == true && player.historico[player.historico.length - 1].pago == true">
								<i class="fa fa-floppy-o"></i><i class="fa fa-check" ng-mouseover="model.alert = 'Salva e termina brincadeira'" 
							ng-mouseleave="model.alert = 'Dicas e alertas aqui!'"></i>
							</button>

							<div uib-collapse="isCollapsed">
								<div class="well well-lg">
									<pagto-directive cadastro="player"></pagto-directive>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
		<div class="panel-footer">
			<p>&copy; Diversão MaisKidMais 2016</p>
		</div>
	</div>

</div>