<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Relatório</h3>
		</div>
		<div class="panel-body">
			<div class="col-md-3">
				<div class="alert alert-info">
					<strong>{{model.alert}}</strong>
				</div>				
			</div>		
			
			<section>
				<div class="col-md-12">
					<button class="btn btn-primary" ng-click="update_total_receita()">Atualiza Total</button>
					<label for="">
						<h3>Receita (Total): {{model.total_receita | currency:'R$ '}}</h3></label>
				</div>
				<div class="col-md-6">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
						<input type="text" class="form-control" ng-model="model.filtro_receita" ng-model-options="{updateOn:'default blur', debounce:{'default':1000, 'blur':0}}"
						placeholder="Busca" />
						<span class="input-group-addon">
							<i class="glyphicon glyphicon-remove" ng-click="model.filtro_receita = ''" ng-mouseover="model.alert = 'Limpa o campo de filtro!'" 
							ng-mouseleave="model.alert = 'Dicas e alertas aqui!'"></i>
						</span>
					</div>
				</div>
				<div class="col-md-6">
					<div class="btn-group">
						<div class="btn-group">
							<select class="btn btn-primary dropdown-toggle" ng-model="model.calendario.dia" ng-options="dia for dia in model.dias" ng-required="true">
								<option value="" disabled selected>Dia</option>
							</select>
							<select class="btn btn-primary dropdown-toggle" ng-model="model.calendario.mes" ng-options="mes for mes in model.meses" ng-required="true">
								<option value="" disabled selected>Mês</option>
							</select>
							<select class="btn btn-primary dropdown-toggle" ng-model="model.calendario.ano" ng-options="ano for ano in model.anos" ng-required="true">
								<option value="" disabled selected>Ano</option>
							</select>
						</div>
						<button class="btn btn-success" ng-click="filtra_receita_por_data()">Filtra por Data</button>
					</div>
				</div>				
				<table class="table table-hover table-striped" style="overflow-y: auto; height: 200px; width:100%; display: block;">
					<thead>
						<tr>
							<th class="col-md-2">Valor</th>
							<th class="col-md-4">Forma de Pagamento</th>
							<th class="col-md-2">Data (Ano-Mês Dia)</th>
							<th class="col-md-1">opções</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="receita in model.f_receitas = (model.receitas | filter:model.filtro_receita) ">
							<td>
								<div ng-bind="receita.valor | currency:'R$ '"></div>
							</td>
							<td>
								<div ng-bind="receita.forma_pagamento"></div>
							</td>
							<td>
								<div ng-bind="receita.data | date: 'yyyy-MM-dd'"></div>
							</td>
							<td>
								<button class="btn btn-danger" ng-click="excluiReceita(receita._id)">Excluir</button>
							</td>
						</tr>
					</tbody>
				</table>
			</section>

			<section>
				<div class="col-md-12">
					<button class="btn btn-primary" ng-click="update_total_despesa()">Atualiza Total</button>
					<label>
						<h3>Despesa (Total) : {{model.total_despesa | currency:'R$ '}}</h3></label>
				</div>

				<div class="col-md-6">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
						<input type="text" class="form-control" ng-model="model.filtro_despesa" ng-model-options="{updateOn:'default blur', debounce:{'default':1000, 'blur':0}}"
						placeholder="Busca" />				

						<span class="input-group-addon">
							<i class="glyphicon glyphicon-remove" ng-click="model.filtro_despesa = ''" ng-mouseover="model.alert = 'Limpa o campo de filtro!'" 
							ng-mouseleave="model.alert = 'Dicas e alertas aqui!'"></i>
						</span>
					</div>
				</div>

				<div class="col-md-6">
					<div class="btn-group">
						<div class="btn-group">
							<select class="btn btn-primary dropdown-toggle" ng-model="model.calendario.dia" ng-options="dia for dia in model.dias" ng-required="true">
								<option value="" disabled selected>Dia</option>
							</select>
							<select class="btn btn-primary dropdown-toggle" ng-model="model.calendario.mes" ng-options="mes for mes in model.meses" ng-required="true">
								<option value="" disabled selected>Mês</option>
							</select>
							<select class="btn btn-primary dropdown-toggle" ng-model="model.calendario.ano" ng-options="ano for ano in model.anos" ng-required="true">
								<option value="" disabled selected>Ano</option>
							</select>
						</div>
						<button class="btn btn-success" ng-click="filtra_despesa_por_data()">Filtra por Data</button>
					</div>
				</div>
				<hr>
				<table class="table table-hover table-striped" style="overflow-y: auto; width:100%; height: 200px; display: block;">

					<thead>
						<tr>
							<th class="col-md-2">Valor</th>
							<th class="col-md-4">Descrição</th>
							<th class="col-md-2">Data (Ano-Mês-Dia)</th>
							<th class="col-md-1">Opções</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="despesa in model.f_despesas = (model.despesas | filter:model.filtro_despesa) ">
							<td>
								<div ng-bind="despesa.valor | currency:'R$ '"></div>
							</td>
							<td>
								<div ng-bind="despesa.descricao"></div>
							</td>
							<td>
								<div ng-bind="despesa.data | date: 'yyyy-MM-dd'"></div>
							</td>
							<td>
								<button class="btn btn-danger" data-ng-click="excluiDespesa(despesa._id)">Excluir</button>
							</td>
						</tr>
					</tbody>
				</table>

			</section>



		</div>
		<div class="panel-footer">
			<p>&copy; Diversão MaisKidMais 2016</p>
		</div>
	</div>
</div>